<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burgers!</title>
		{{!-- <link rel="stylesheet" type="text/css" href="/public/assets/css/burger_style.css"> --}}
		{{!-- <link rel="stylesheet" type="text/html" href="burger_style.css" /> --}}
		<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
		<link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css"/>
		<script src="https://code.jquery.com/jquery.js"></script>
</head>

	
	<body>
		{{{ body }}}
	</body>
</html>